alpaca-trade-api==0.42
asyncio-nats-client==0.10.0
certifi==2019.11.28
chardet==3.0.4
Deprecated==1.2.7
docutils==0.15.2
idna==2.8
Kivy==1.11.1
Kivy-Garden==0.1.4
numpy==1.18.0
pandas==0.25.3
Pygments==2.5.2
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
six==1.13.0
urllib3==1.24.3
websocket-client==0.57.0
websockets==8.1
wrapt==1.11.2
